.title {
    text-align: center;
    color: rgb(243, 243, 226);
    text-shadow: 2px 2px 0px rgb(226, 65, 140);
}

.text {
    margin: 2rem;
    text-align: start;
}

.container {
    text-align: center;
}

.link {
    color: rgb(226, 65, 140);
    text-decoration: none;
}

.link:hover {
    transition: 0.5s;
}