* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

html, body {
  background-color: #E4A1C1;
  
}

html, header {
  background-color: #E4A1C1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

html, main {
  background-color: #E4A1C1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  background-color: #D7B4ED;
  width: 100%;
  padding-left: 4px;
  padding-right: 4px;
}