.musica {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.favs {
    display: flex;
}

.fav {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playlists {
    text-align: center;
}

.playlist {
    margin: 2rem;
    box-shadow: 2px 2px 5px #000000af;
    border-radius: 1rem;
}

.title {
    text-align: center;
    color: rgb(243, 243, 226);
    text-shadow: 2px 2px 0px rgb(226, 65, 140);
}
